/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Italic';
    background-color: rgba(247, 247, 247, 0.5);
    background-image: url('../images/imagem_de_fundo.jpg.png');
    background-size: cover;
    font-weight: 700;
    font-style: italic; /* Adiciona estilo itálico */
}

.page-container {
    width: 80%;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    text-align: left;
    margin: 20px;
}

h1 {
    font-size: 36px;
    color: #655979;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 900;
}

/* Restante do seu CSS permanece inalterado */

.content-buttons {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    width: 100%;
}

input[type="button"] {
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #655979;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 700;
    font-style: italic ; 
    width: 100%;
}

input[type="button"]:hover {
    background-color: #655979;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-style: italic; /* Adiciona estilo itálico */
}

form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
}

form input[type="button"] {
    width: 100%;
    background-color: #655979;
    color: #ffffff;
}

/* Tabela Diário Escolar */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    color: #ffffff;
    font-style: italic; /* Adiciona estilo itálico */
}

th {
    background-color: #655979;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Botões no canto inferior direito */
.corner-buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.corner-buttons input, a [type="button"] {
    margin-top: 11px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #655979;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

.corner-buttons input[type="button"]:hover {
    background-color: #655979;
}


.title-container {
    margin-bottom: 20px;
}

.title-container h1 {
    font-size: 36px;
    color: #655979;
    margin-top: 100;
    font-weight: 900;
    font-style: italic; /* Adiciona estilo itálico */
}

